// .activity {
//     display: flex;
//     justify-content: center;
//     margin: 0px;
//     padding: 0px;
//     margin-bottom: 94px;
//     height: 388px;

//     &-menu {
//     display: flex;
//     justify-content: center;
//     }

//     &-title {
//     display: flex;
//     justify-content: center;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.2;
//     margin-top: 0px;
//     margin-bottom: 50px;
//     }

//     .activity-li {
//     display: flex;
//     margin-right: 30px;
//     height: 294px;
//     position: relative;

//         &:last-child {
//         margin-right: 0px;
//         }      
//     }

//     &-text {
//     display: flex;
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 70px;
//     background-color: rgba(47, 48, 58, 0.8);
//     text-transform: uppercase;
//     justify-content: center;
//     align-items: center;
//     color: var(--primary-font-color);
//     font-size: 14px;
//     line-height: 1.1;
//     text-align: center;
//     letter-spacing: 0.03em;
//     font-weight: 700;
//     }
// }

