.advantages {
    background-color: FFFFFF;
}

.advantages-menu {
    justify-content: center;
 }

.advantages-li {
    justify-content: space-between;
    margin-bottom: 30px;
    &:last-child { 
    margin-bottom: 0;
  }
}

.advantages-thumb {
    display: flex;
    background-color: var(--secondary-font-color);
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 25px 0;
}


.advanteges-button {
    margin: auto;
    width: 70px;
    height: 70px;
}

.advantages-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
}

@media (min-width: 768px) {
    .advantages {
        display: flex;

        &-li {
        width: calc(100% / 2 - 30px);
        justify-content: space-between;
        }
   
        &-menu {
            display: flex;
            flex-wrap: wrap;  
            width: 100%;
            justify-content: space-between;

        }
        
        &-thumb {
            
            height: 120px;
        }
        
    }
  
}

@media (min-width: 1200px) {

    .advantages-li {
        width: calc(100% / 4 - 30px);
        margin-bottom: 0;
    }

}


