.advantages {

}

.advantages-menu {
    justify-content: center;
 }

.advantages-li {
    padding-bottom: 30px;
    &:last-child { 
    padding-bottom: 0;
  }
}

.advantages-thumb {
    display: flex;
    background-color: var(--secondary-font-color);
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advanteges-button {
    margin: 25px auto;
    width: 70px;
    height: 70px;
}

.advantages-title {
    text-transform: uppercase;
    margin: 0 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0 15px 30px;

    &:last-child {
    margin-bottom: 0;
    }

}










// .advantages-menu {
// display: flex;
// justify-content: center;
// padding: 0;
// }

// .advantages-li {
// padding: 0;
// margin: 0 30px 0 0;
//   &:last-child {
//   margin-right: 0;
//   }
// }

// .advantages-thumb {
// background-color: var(--secondary-font-color);
// height: 120px;
// margin-bottom: 30px;
// border-radius: 4px;
// }

// .advanteges-button {
// margin: 25px 100px;
// width: 70px;
// height: 70px;

// background-position: center;
// }

// .advantages-title {
// text-transform: uppercase;
// width: 270px;
// height: 16px;
// font-weight: 700;
// font-size: 14px;
// line-height: 1.1;
// margin-bottom: 10px;
// }

// .advantages-text {
// width: 270px;
// height: 75px;
// font-size: 14px;
// line-height: 1.7;
// letter-spacing: 0.03em;
// }




