.clients {
display: flex;
flex-wrap: wrap;
margin-top: -30px;
margin-left: -30px;

    &-title {
    height: 42px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

    & li {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    }

    &-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 90px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        border: 1px solid var(--secondary-text-color);
        }

        &:hover .clients-icon,
        &:focus .clients-icon {
        fill: var(--secondary-text-color);
        }

    }

    &-icon {
    display: flex;
    fill: #AFB1B8;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}


@media (min-width: 768px) {


    .clients li {
        width: calc(100% / 3 - 30px);
    }
}

@media (min-width: 1200px) {

    .clients li {
        width: calc(100% / 6 - 30px);
    }
}















// .clients {
// display: flex;
// flex-wrap: wrap;
// margin-top: -30px;
// margin-left: -30px;

//     &-title {
//     height: 42px;
//     display: flex;
//     margin-bottom: 50px;
//     justify-content: center;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.2;
//     margin-top: 0px;
//     }

//     & li {
//     width: calc(100% / 6 - 30px);
//     margin-top: 30px;
//     margin-left: 30px;
//     }

//     &-thumb {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: var(--primary-font-color);
//     border: 1px solid #AFB1B8;
//     box-sizing: border-box;
//     border-radius: 4px;
//     height: 90px;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         border: 1px solid var(--secondary-text-color);
//         }

//         &:hover .clients-icon,
//         &:focus .clients-icon {
//         fill: var(--secondary-text-color);
//         }

//     }

//     &-icon {
//     display: flex;
//     fill: #AFB1B8;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

// }


