.example-work {
    display: flex;
    flex-wrap: wrap;

    &-li {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

        &:focus,
        &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: var(--primary-font-color);
        }
    }

    &-link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;

        &-text {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0px 24px;
        background: rgba(33, 150, 243, 0.9);
        align-items: center;
        color: var(--primary-font-color);
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        font-weight: 400;
        transform: translateY(100%);
        transition: 1000ms;
        }

    }

    &-wrapper {
    position: relative;
    overflow: hidden;

        &-img {
            display: block;
            width: 100%;
            height: auto;
        }

    }

    &-project {
    padding: 20px 24px;
    padding-top: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;
    }

    &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    }

    &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
    }
}

a:hover .example-work-link-text,
a:focus .example-work-link-text {
    transform: translateY(0);
}

@media (min-width: 768px) {

    .example-work {
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    .example-work-li {
        width: calc(100% / 2 - 30px);
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 0;
    }

    .example-work-link-text {
        height: 100%;
    }


}

@media (min-width: 1200px) {

    .example-work-li {
        width: calc(100% / 3 - 30px);
    }

}






































// .example-work {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -30px;
//     margin-left: -30px;

//     &-li {
//     width: calc(100% / 3 - 30px);
//     margin-top: 30px;
//     margin-left: 30px;
//     position: relative;

//         &:focus,
//         &:hover {
//         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//         background-color: var(--primary-font-color);
//         }
//     }

//     &-link {
//     color: var(--title-text-color);
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;

//         &-text {
//         display: flex;
//         position: absolute;
//         top: 0;
//         width: 100%;
//         height: 294px;
//         padding: 0px 24px;
//         background: rgba(33, 150, 243, 0.9);
//         align-items: center;
//         color: var(--primary-font-color);
//         font-size: 18px;
//         line-height: 1.6;
//         letter-spacing: 0.03em;
//         font-weight: 400;
//         transform: translateY(100%);
//         transition: 1000ms;
//         }

//     }

//     &-wrapper {
//     position: relative;
//     overflow: hidden;
//     }

//     &-project {
//     padding: 20px 24px;
//     padding-top: 20px;
//     border: 1px solid #EEEEEE;
//     border-top: none;
//     }

//     &-title {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     }

//     &-text {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.87;
//     color: var(--primary-text-color);
//     }
// }

// a:hover .example-work-link-text,
// a:focus .example-work-link-text {
//     transform: translateY(0);
// }

