.footer {
    background-color: var(--third-font-color);
    text-align: center;

    &-blok {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    }

    &-logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
 
        &-color {
        color: var(--secondary-text-color);

            &-secondary {
            color: var(--primary-font-color);
            }
        }
    
    }

    &-address {
    display: flex;
    justify-content: center;
    }

    &-address-text {
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;  
    }

    &-contact {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 8px;

        &:last-child {
            padding-bottom: 0;
        }
 
    }
    
    &-address-link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    
        &:hover,
        &:focus {
        color: var(--secondary-text-color);
        }
    }

    &-invite {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    color: var(--primary-font-color);
    margin-bottom: 20px;
    }

    &-social-link {
    justify-content: center;
    margin-bottom: 60px;
    }

    &-icon {
    display: flex;
    justify-content: center;
    
        &-li + &-li {
            margin-left: 10px;
        }
    
        &-img {
        width: 20px;
        height: 20px;
        fill: var(--primary-font-color);
        }

    }

    &-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
    
        &:hover,
        &:focus {
        background-color: var(--secondary-text-color);
    
            & .footer-icon-img,
            & .footer-icon-img {
            fill: var(--primary-font-color);
            }
    
        } 
    }
}   
   
.footer-podpiska {
        
            &-title {
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.1;
            color: var(--primary-font-color);
            margin-bottom: 20px;
            }

            &-link {
                margin-bottom: 20px;
            }

            &-input-form {
                border: 1px solid rgba(255, 255, 255, 0.3);
                box-sizing: border-box;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                border-radius: 4px;
                height: 50px;
                width: 100%;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
                padding-left: 16px; 
                background: #2F303A;
                }
            
            &-botton {

                &-modal {
                display: flex;
                align-items: center;
                width: 200px;
                height: 50px;
                background-color: var(--secondary-text-color);
                color: var(--primary-font-color);
                font-weight: 700;
                font-size: 16px;
                line-height: 1.9;
                cursor: pointer;
                border: none;
                margin: 0 auto;
                outline: none;
                padding: 0px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
                justify-content: center;
                }

            }

            &-icon {
            margin-left: 10px;
            margin-top: 5px;
            }
}



@media (min-width: 768px) {
    .footer {
        display: flex;
    }

    .footer .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 61px;
    justify-content: space-between;
    }

    .footer-blok {
        width: calc(100% / 2 - 30px);
    }

    .footer-links {
        width: calc(100% / 2 - 30px)
    }

    .footer-podpiska {
        width: 100%;
        margin: 0 90px;
    }
}

@media (min-width: 1200px) {

.footer {
    padding-bottom: 60px;
}    

.footer .container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-invite {
    text-align: left;
}

.footer-icon {
    justify-content: flex-start;
}

.footer-blok {
    text-align: left;
    margin-bottom: 0;
}
    
.footer-address-text {
    width: 100%;
}

.footer-podpiska {
    margin: 0;
    display: flex;

    &-link {
        margin-right: 12px;
        margin-bottom: 0;
        width: 100%;
    }

    &-botton {
        padding-top: 35px;
    }
    
    &-input-form {
        width: 100%;
        margin-right: 12px;
    }

    &-title {
        text-align: left;        
    }
    }
}
