.footer {
    background-color: var(--third-font-color);
    text-align: center;

    &-blok {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    }

    &-logo {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
 
        &-color {
        color: var(--secondary-text-color);

            &-secondary {
            color: var(--primary-font-color);
            }
        }

    }

    &-address {
    display: flex;
    justify-content: center;
    }

    &-address-text {
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;  
    }

    &-contact {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 8px;

        &:last-child {
            padding-bottom: 0;
        }
 
    }
    
}

.footer-address-text {
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.footer-address-link {
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.1;

    &:hover,
    &:focus {
    color: var(--secondary-text-color);
    }
}

.footer-invite {
font-weight: 700;
text-transform: uppercase;
line-height: 1.1;
color: var(--primary-font-color);
margin-bottom: 20px;
}

.footer-social-link {
justify-content: center;
margin-bottom: 60px;
}

.footer-icon {
display: flex;
justify-content: center;

    &-li + &-li {
        margin-left: 10px;
    }

}

.footer-icon-link {
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
box-sizing: border-box;
height: 44px;
width: 44px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--secondary-text-color);

        & .footer-icon-img,
        & .footer-icon-img {
        fill: var(--primary-font-color);
        }

    }

.footer-icon-img {
width: 20px;
height: 20px;
fill: var(--primary-font-color);
}

}

    &-links {
justify-content: center;
margin-bottom: 20px;
    }

    &-title {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    color: var(--primary-font-color);
    margin-bottom: 20px;
    
    }

    &-input-form {
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px; 
    }

    &-botton {


        &-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: var(--secondary-text-color);
        color: var(--primary-font-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        outline: none;
        padding: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }

    }

    &-icon {
    margin-left: 10px;
    margin-top: 5px;
    }

}


@media (min-width: 768px) {
    .footer {
        display: flex;
    }

    .footer .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 61px;
    justify-content: space-between;
    }

    .footer-blok {
        width: calc(100% / 2 - 30px);
    }

    .footer-links {
        width: calc(100% / 2 - 30px)
    }

    .footer-podpiska {
        width: 100%;
        margin: 0 90px;
    }
}

@media (min-width: 1200px) {

.footer {
    padding-bottom: 60px;
}    

.footer .container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    justify-content: space-between;
}

.footer-invite {
    text-align: left;
}

.footer-icon {
    justify-content: flex-start;
}

.footer-blok {
    text-align: left;
    margin-bottom: 0;
}
    
.footer-address-text {
    width: 100%;
}

.footer-podpiska {
    margin: 0;
    display: flex;

    &-links {
        margin-right: 12px;
        margin-bottom: 0;
        width: 100%;
    }

    &-botton {
        padding-top: 35px;
    }
    
    &-input-form {
        width: 100%;
        margin-right: 12px;
    }

    &-title {
        text-align: left;        
    }

}










}
























// .footer {
//     background-color: var(--third-font-color);
//     padding-top: 60px;
//     margin: 0;

//     & .container {
//     display: flex;
//     }

//     &-logo {
//     color: var(--title-text-color);
//     text-decoration: none;
//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     width: 145px;
//     height: 31px;

//         &-color {
//         color: var(--secondary-text-color);

//             &-secondary {
//             color: var(--primary-font-color);
//             }
//         }

//     &-address-text {
//     display: flex;
//     flex-direction: column;
//     color: var(--primary-font-color);
//     line-height: 1.7;
//     font-style: normal;
//     text-decoration: none;
//     padding: 0px;
//     margin-top: 20px;
//     margin-bottom: 0px;
//     width: 231px;
//     }

//     }

//     &-address-text {
//     display: flex;
//     flex-direction: column;
//     color: var(--primary-font-color);
//     line-height: 1.7;
//     font-style: normal;
//     text-decoration: none;
//     padding: 0px;
//     margin-top: 20px;
//     margin-bottom: 0px;
//     width: 231px;

//     &-contact {
//     color: rgba(255, 255, 255, 0.6);
//     margin-bottom: 9px;
//     }

//     }

// }

// .footer-address-link {
// color: var(--primary-text-color);
// text-decoration: none;
// font-weight: 500;
// font-size: 14px;
// line-height: 1.1;

//     &:hover,
//     &:focus {
//     color: var(--secondary-text-color);
//     }
// }

// .footer-links {
// margin-left: 70px;
// padding-top: 12px;
// }

// .footer-invite {
// display: flex;
// font-weight: 700;
// text-transform: uppercase;
// line-height: 1.1;
// color: var(--primary-font-color);
// margin-bottom: 20px;
// }

// .footer-social-link {
// margin-bottom: 20px;
// }

// .footer-icon {
// display: flex;

//     &-li:not(:last-child) {
//     margin-right: 10px;
//     }
// }

// .footer-icon-link {
// display: flex;
// justify-content: center;
// align-items: center;
// background-color: rgba(255, 255, 255, 0.1);
// border-radius: 50%;
// box-sizing: border-box;
// height: 44px;
// width: 44px;
// transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//     background-color: var(--secondary-text-color);

//         & .footer-icon-img,
//         & .footer-icon-img {
//         fill: var(--primary-font-color);
//         }

//     }

// .footer-icon-img {
// width: 20px;
// height: 20px;
// fill: var(--primary-font-color);
// }

// }

// .footer-podpiska {
//     display: flex;

//     &-links {
//     margin-left: 93px;
//     padding-top: 12px;
//     }

//     &-title {
//     display: flex;
//     font-weight: 700;
//     text-transform: uppercase;
//     line-height: 1.1;
//     color: var(--primary-font-color);
//     margin-bottom: 20px;
//     }

//     &-input-form {
//     background: #2F303A;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     width: 358px;
//     height: 50px;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     padding-left: 10px;
//     }

//     &-botton {
//     display: flex;
//     margin-top: 30p;
//     margin-left: 10px;
//     margin-top: 47px;

//         &-modal {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 200px;
//         height: 50px;
//         background-color: var(--secondary-text-color);
//         color: var(--primary-font-color);
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.9;
//         cursor: pointer;
//         border: none;
//         margin: 0 auto;
//         outline: none;
//         padding: 0px;
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 4px;
//         transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
//         }

//     }

//     &-icon {
//     margin-left: 10px;
//     margin-top: 5px;
//     }

// }


