// .header {
//     display: flex;
//     justify-content: space-between;
//     padding-top: 0;
//     padding-bottom: 0;

//     &-logo {
//     color: var(--title-text-color);
//     text-decoration: none;
//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     width: 145px;
//     height: 31px;

//         &-color {
//         color: var(--secondary-text-color);
//         }
//     }

//     &-nav {
//     display: flex;
//     align-items: center;
//     padding: 0;
//     height: 80px;
//     }
// }

// .nav-menu {
// display: flex;
// padding-left: 0;

//     &-li {
//     margin-left: 50px;
//     height: 100%;

//         &:first-child {
//         margin-left: 93px;
//         }

//     }

//     &-link {
//     display: flex;
//     color: var(--title-text-color);
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     position: relative;
//     padding: 30px 0;

//         &.active {
//         color: var(--secondary-text-color);

//             &::after {
//             position: absolute;
//             width: 100%;
//             height: 4px;
//             border-radius: 2px;
//             background: #2196F3;
//             content: "";
//             top: 100%;
//             left: 0;
//             }

//         }

//         &:hover,
//         &:focus {
//         color: var(--secondary-text-color);
   
//         }
//     }
// }

// .address-menu {
// display: flex;
// align-items: center;
// justify-content: flex-end;
// padding: 0;

//     &-li {
//     margin-left: 30px;

//         &:first-child {
//         margin-left: 0px;
//         }
//     }

//     &-link {
//     display: flex;
//     color: var(--primary-text-color);
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//         color: var(--secondary-text-color);

//             & .address-menu-icon,
//             & .address-menu-icon {
//                 fill: var(--secondary-text-color)
//             }        
//         }
//     }

//     &-icon {
//     justify-content: center;
//     align-items: center;
//     fill: var(--primary-text-color);
//     margin-right: 10px;
//     }
// }


