.services {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-weight: 900;
    line-height: 1.4;
    padding: 118px 0;
    background-image: url(../../img/mobile/title/hero_m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--third-font-color);

    &-title {
    max-width: 360px;
    min-width: 200px;
    width: 100%;
    height: auto;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    margin: 0 auto 30px auto;
    }

    &-button {
        display: flex;
    background-color: var(--secondary-text-color);
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    outline: none;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    align-items: center;

        &:hover,
        &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        }    
    }

}

@media (min-width: 320px) and (min-device-pixel-ratio: 2),
(min-width: 320px) and (min-resolution: 192dpi),
(min-width: 320px) and (min-resolution: 2dppx) {
    .services {
        background-image: url(../../../img/mobile/title/hero_m@2x.jpg);
    }
}

@media (min-width: 768px) {
    .services {
        background-image: url(../../../img/tablet/title/header_t.jpg);
    }

}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), 
    (min-width: 768px) and (min-resolution: 192dpi),
    (min-width: 768px) and (min-resolution: 2dppx) {
            .services {
                background-image: url(../../../img/tablet/title/header_t@2x.jpg);
                }
            }

@media (min-width: 1200px) {
    .services {
        padding: 200px 252px;
        background-image: url(../../../img/desktop/title/header_d.jpg);
    }

    .services-title {
        font-size: 44px;
        line-height: 1.4;
        max-width: 100%;
    }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    .services {
        background-image: url(../../../img/desktop/title/header_d@2x.jpg);
    }
}


