
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
     transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 40px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    overflow: scroll;

    &-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

        &-color:hover,
        &-color:focus {
            fill: #188CE8;
        }

    }
        
        &-head-form {
    padding-bottom: 12px;
    }

    &-text-form {
    font-style: 400;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    padding-bottom: 10px;
    }

    &-title-form {
    display: flex;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 4px;
    }

    &-input-form-comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    width: 100%;
    padding-left: 16px;
    padding-top: 12px;
    font-size: 14px;
    line-height: 1.1;
    resize: none;
    }

    &-block-input-form {
    display: block;
    position: relative;
    margin-top: 4px;
    }

    &-input-form {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    justify-content: left;
    padding-left: 40px;

        &:hover,
        &:focus {
        border: 1px solid #2196F3;
        }

        &:hover+.modal-icon-input,
        &:focus+.modal-icon-input {
        fill: var(--secondary-text-color);
        }

        &-comment:hover,
        &-comment:focus {
        border: 1px solid #2196F3;
        }
    }


    .modal-icon-input {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 25%;
    left: 12px;
    }

    &-text-form-soglashenie {
    margin-top: 20px;
    margin-bottom: 30px;
    }

    &-soglashenie {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;

        &::before {
        display: block;
        content: "";
        width: 16px;
        height: 15px;
        outline: 1px solid #000000;
        margin-right: 10px;
        }

        &-link {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #188CE8;
        }    
    }
    
    &-soglasie:checked+.modal-soglashenie::before {
    background: url('../img/RectangleInput.svg');
    width: 16px;
    height: 17px;
    outline: none;
    background-repeat: no-repeat;
    }


    &-soglasie:checked+.modal-soglashenie::before {
    background: url('../img/RectangleInput.svg');
    width: 16px;
    height: 17px;
    outline: none;
    background-repeat: no-repeat;
    }

    &-button-services {
    width: 200px;
    height: 50px;
    background-color: var(--secondary-text-color);
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;
    outline: none;
    padding: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    &-button-services:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
}



@media (min-width: 768px) {
    .modal {
        width: 80%;
        height: 60%;
        max-width: 500px;
        max-height: 609px;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 44%;
        height: 57%;
        max-width: 528px;
        max-height: 581PX;
    }
}