body {
    color: var(--primary-text-color);
    background-color: var(--primary-font-color);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto, sans-serif;
    color: var(--title-text-color);
    margin: 0;
}

li {
    list-style: none;
}

ul,
p {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #ECECEC;
}