:root {
    --primary-text-color: #757575;
    --secondary-text-color: #2196F3;
    --title-text-color: #212121;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #F5F4FA;
    --third-font-color: #2F303A;

}
